.board {
  display: grid;
  margin-left: 50px;
  margin-top: 50px;
}

.cell {
  border-color: black;
  border-style: solid;
  float: left;
  height: 40px;
  width: 40px;
}

.cell-unknown {
  background-color: gray;
}